__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build/
scripts/
tests/
# repo specific folders
data/

# add all .gitignore files TODO:
# !**/.gitignore

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/
**/*.code-workspace
.history/

# Compiled sources -- just in case
*.com
*.class
*.dll
*.exe
*.o
*.so


