__pycache__/
*.pyc

# repo specific folders
data/
scripts/
tests/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/
**/*.code-workspace
.history/

# Compiled sources -- just in case
*.com
*.class
*.dll
*.exe
*.o
*.so


